alloy:
  configMap:
    # -- Create a new ConfigMap for the config file.
    create: true
    # -- Content to assign to the new ConfigMap.  This is passed into `tpl` allowing for templating from values.
    content: |
      loki.write "default" {
        endpoint {
          url = "http://loki-distributor.monitoring.svc.cluster.local:3100/loki/api/v1/push"
        }
      }
      discovery.kubernetes "argocd" {
        namespaces {
          names = ["argocd"]
        }
        role = "pod"
      }
      
      loki.source.kubernetes "argocd" {
        targets    = discovery.kubernetes.argocd.targets
        forward_to = [loki.write.default.receiver]
      }
      
      discovery.kubernetes "app" {
        namespaces {
          names = ["applications"]
        }
        role = "pod"
      }
      
      loki.source.kubernetes "app" {
        targets    = discovery.kubernetes.app.targets
        forward_to = [loki.write.default.receiver]
      }
      
      loki.source.kubernetes_events "appEvent" {
        namespaces = ["app"]
        forward_to = [loki.write.default.receiver]
      }