alloy:
  configMap:
    # -- Create a new ConfigMap for the config file.
    create: true
    # -- Content to assign to the new ConfigMap.  This is passed into `tpl` allowing for templating from values.
    content: |
      loki.write "default" {
        endpoint {
          url = "http://loki-distributor.monitoring.svc.cluster.local:3100/loki/api/v1/push"
        }
      }
      
      discovery.kubernetes "argocd" {
        namespaces {
          names = ["argocd"]
        }
        role = "pod"
      }
      
      discovery.relabel "argocd_pod_logs" {
        targets = discovery.kubernetes.argocd.targets
      
        rule {
          source_labels = ["__meta_kubernetes_namespace"]
          action        = "replace"
          target_label  = "namespace"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_name"]
          action        = "replace"
          target_label  = "pod"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_container_name"]
          action        = "replace"
          target_label  = "container"
        }
        rule {
          source_labels = ["__meta_kubernetes_node_name"]
          action        = "replace"
          target_label  = "node"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_label_app_kubernetes_io_name"]
          action        = "replace"
          target_label  = "app"
        }
      
        rule {
          source_labels = ["__meta_kubernetes_namespace", "__meta_kubernetes_pod_container_name"]
          action        = "replace"
          target_label  = "job"
          separator     = "/"
          replacement   = "$1/$2"
        }
      
        rule {
          source_labels = ["__meta_kubernetes_pod_uid", "__meta_kubernetes_pod_container_name"]
          action        = "replace"
          target_label  = "__path__"
          separator     = "/"
          replacement   = "/var/log/pods/*$1/$2.log"
        }
      
        rule {
          source_labels = ["__meta_kubernetes_pod_container_id"]
          action        = "replace"
          target_label  = "container_runtime"
          regex         = "^(\\S+):\\/\\/.+$"
          replacement   = "$1"
        }
      }
      
      loki.source.kubernetes "argocd" {
        targets    = discovery.relabel.argocd_pod_logs.output
        forward_to = [loki.write.default.receiver]
      }
      
      discovery.kubernetes "app" {
        namespaces {
          names = ["applications"]
        }
        role = "pod"
      }
      
      discovery.relabel "app_pod_logs" {
        targets = discovery.kubernetes.app.targets
      
        rule {
          source_labels = ["__meta_kubernetes_namespace"]
          action        = "replace"
          target_label  = "namespace"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_name"]
          action        = "replace"
          target_label  = "pod"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_container_name"]
          action        = "replace"
          target_label  = "container"
        }
        rule {
          source_labels = ["__meta_kubernetes_node_name"]
          action        = "replace"
          target_label  = "node"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_label_app_kubernetes_io_name"]
          action        = "replace"
          target_label  = "app"
        }
        rule {
          source_labels = ["__meta_kubernetes_namespace", "__meta_kubernetes_pod_container_name"]
          action        = "replace"
          target_label  = "job"
          separator     = "/"
          replacement   = "$1/$2"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_uid", "__meta_kubernetes_pod_container_name"]
          action        = "replace"
          target_label  = "__path__"
          separator     = "/"
          replacement   = "/var/log/pods/*$1/$2.log"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_container_id"]
          action        = "replace"
          target_label  = "container_runtime"
          regex         = "^(\\S+):\\/\\/.+$"
          replacement   = "$1"
        }
      }
      
      loki.source.kubernetes "app" {
        targets    = discovery.relabel.app_pod_logs.output
        forward_to = [loki.write.default.receiver]
      }
      
      loki.source.kubernetes_events "appEvent" {
        namespaces = ["app"]
        forward_to = [loki.write.default.receiver]
      }