# Default values for pyroscope.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
alloy:
  enabled: false

pyroscope:
  extraArgs:
    store-gateway.sharding-ring.replication-factor: "1"
    log.level: debug
  components:
    query-backend:
      kind: Deployment
      replicaCount: 1
#      resources:
#        limits:
#          memory: 1Gi
#        requests:
#          memory: 256Mi
#          cpu: 1
    query-frontend:
      kind: Deployment
      replicaCount: 1
#      resources:
#        limits:
#          memory: 1Gi
#        requests:
#          memory: 256Mi
#          cpu: 100m
    distributor:
      kind: Deployment
      replicaCount: 1
#      resources:
#        limits:
#          memory: 1Gi
#        requests:
#          memory: 256Mi
#          cpu: 500m
    segment-writer:
      kind: StatefulSet
      replicaCount: 1
      terminationGracePeriodSeconds: 600
#      resources:
#        limits:
#          memory: 4Gi
#        requests:
#          memory: 2Gi
#          cpu: 1
    compaction-worker:
      kind: StatefulSet
      replicaCount: 1
      terminationGracePeriodSeconds: 1200
#      persistence:
#        enabled: false
#      resources:
#        limits:
#          memory: 2Gi
#        requests:
#          memory: 1Gi
#          cpu: 1
    metastore:
      kind: StatefulSet
      replicaCount: 1
      terminationGracePeriodSeconds: 1200
      persistence:
        enabled: false
#      resources:
#        limits:
#          memory: 2Gi
#        requests:
#          memory: 1Gi
#          cpu: 1
      extraArgs:
        # Expect 3 metastores
        metastore.raft.bootstrap-expect-peers: 3
        # TODO(kolesnikovae): Update defaults.
        adaptive-placement.max-dataset-shards: 1024
        adaptive-placement.unit-size-bytes: 131072
        # enable cleanup of blocks beyond retention
        metastore.index.cleanup-interval: 1m
        metastore.snapshot-compact-on-restore: true
    tenant-settings:
      kind: Deployment
      replicaCount: 1
#      resources:
#        limits:
#          memory: 256Mi
#        requests:
#          memory: 16Mi
#          cpu: 0.1
    ad-hoc-profiles:
      kind: Deployment
      replicaCount: 1
#      resources:
#        limits:
#          memory: 256Mi
#        requests:
#          memory: 16Mi
#          cpu: 0.1
    admin:
      kind: Deployment
      replicaCount: 1
#      resources:
#        limits:
#          memory: 256Mi
#        requests:
#          memory: 16Mi
#          cpu: 0.1
